<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link type="image/x-icon" rel="icon" href="imgs-client/icons/fav.ico">
        <link type="image/x-icon" rel="shortcut icon" href="imgs-client/icons/fav.ico">
        <link type="text/css" rel="stylesheet" href="css/default.min.css" media="all">
        <title>ep-3 Bookingsystem Error</title>
    </head>

    <body class="centered-text">
        <div style="margin-top: 32px;">
            <img src="imgs/branding/ep3-bs-neg-en.png" alt="ep-3 Bookingsystem" style="width: 256px;">
        </div>

        <div class="padded centered-panel" style="margin-top: 32px;">
            <h1>Installation required</h1>

            <div class="separator-small"></div>

            <p>Please install application dependencies via <a href="https://getcomposer.org/" target="_blank">composer</a> (or manually, if you dislike it ;)</p>
        </div>

        <div id="footer" style="margin-top: 32px;">
            Created by <a href="https://bs.hbsys.de/" target="_blank">ep-3 Bookingsystem</a>
        </div>
    </body>
</html>
